IOTA_bak.json
[{"id":"e0e0bf32.cb536","type":"ui_tab","z":"6957b603.ef1058","name":"3 - Setup Voice","icon":"keyboard_voice","order":"3"},{"id":"3f8a7350.118cac","type":"ui_tab","z":"6957b603.ef1058","name":"2 - Setup Inverter","icon":"settings_applications","order":"2"},{"id":"3f339ddd.c0cc62","type":"ui_tab","z":"6957b603.ef1058","name":"1 - Setup Wifi","icon":"network_wifi","order":"1"},{"id":"b6a2285c.a71778","type":"aws-iot-broker","z":"6957b603.ef1058","broker":"a390ngegn91cg.iot.us-east-1.amazonaws.com","port":"8883","clientid":"","keepalive":"60","willTopic":"","willQos":"0","willPayload":"","birthTopic":"birth","birthQos":"0","birthPayload":"greetings from node red","keypath":"/home/pi/.node-red/certs/private.pem.key","certpath":"/home/pi/.node-red/certs/certificate.pem.crt","capath":"/home/pi/.node-red/certs/root-CA.crt"},{"id":"d1f9d9f1.78bb38","type":"inject","z":"6957b603.ef1058","name":"Get Weather Now in deg","topic":"test","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180.57141658238004,"y":592.4285564422607,"wires":[["fcaf8495.6458e8"]]},{"id":"4d829bf0.5a4174","type":"http request","z":"6957b603.ef1058","name":"","method":"GET","ret":"obj","url":"","x":536.6825158255441,"y":586.8729991912842,"wires":[["37e2ae9f.e57a92"]]},{"id":"d81674d3.0329c8","type":"debug","z":"6957b603.ef1058","name":"","active":true,"console":"false","complete":"payload","x":896.5873009817941,"y":588.1429042816162,"wires":[]},{"id":"37e2ae9f.e57a92","type":"function","z":"6957b603.ef1058","name":"return format","func":"msg.payload = msg.payload.main.temp + \" Degrees C\"\nreturn msg;","outputs":1,"noerr":0,"x":723.1269738333566,"y":586.5396633148193,"wires":[["d81674d3.0329c8"]]},{"id":"8643588d.027628","type":"inject","z":"6957b603.ef1058","name":"Get CumulationInverterData","topic":"","payload":"CumulationInverterData","payloadType":"str","repeat":"","crontab":"","once":false,"x":207.46031733921598,"y":742.9999599456787,"wires":[["ce3b0319.269c1"]]},{"id":"6c24612a.9f5bb","type":"http request","z":"6957b603.ef1058","name":"Get InverterRealtimeData","method":"GET","ret":"obj","url":"","x":742.4603936331613,"y":863.4444046020508,"wires":[["5efa59d8.051b98","3f66ba23.bc7ae6"]]},{"id":"82205c02.6c779","type":"inject","z":"6957b603.ef1058","name":"Get CommonInverterData","topic":"","payload":"CommonInverterData","payloadType":"str","repeat":"","crontab":"","once":false,"x":198.9047600882394,"y":823.6666603088379,"wires":[["ce3b0319.269c1"]]},{"id":"df7f1553.9ec018","type":"inject","z":"6957b603.ef1058","name":"Get 3PInverterData","topic":"","payload":"3PInverterData","payloadType":"str","repeat":"","crontab":"","once":false,"x":180.57141658238004,"y":904.3332595825195,"wires":[["ce3b0319.269c1"]]},{"id":"ce3b0319.269c1","type":"function","z":"6957b603.ef1058","name":"Url Params","func":"msg.goodweUrlParams = {\n    'ip':'192.168.0.17',\n    'baseUrl':'/solar_api/v1/',\n    'requestType':'GetInverterRealtimeData.cgi',\n    'scope':'System',\n    'DataCollection': msg.payload,\n};\nmsg.url = msg.goodweUrlParams.ip + msg.goodweUrlParams.baseUrl + msg.goodweUrlParams.requestType + '?' + 'Scope=' + msg.goodweUrlParams.scope + '&DataCollection=' + msg.goodweUrlParams.DataCollection\n// example 'http://192.168.0.14/solar_api/v1/GetInverterRealtimeData.cgi?Scope={{payload.scope}}&DataCollection={{payload.DataCollection}}'\nreturn msg;","outputs":1,"noerr":0,"x":521.3491952078683,"y":856.7777557373047,"wires":[["6c24612a.9f5bb"]]},{"id":"947a9645.7ee0d8","type":"comment","z":"6957b603.ef1058","name":"Get RealTimeData from networked fronius","info":"","x":649.4643096923828,"y":680.6865329742432,"wires":[]},{"id":"8539b386.934dd","type":"comment","z":"6957b603.ef1058","name":"Common contains:","info":"Commmon contains cumulation + extra info about ac, dc and ac frequency","x":211.34920283726285,"y":857.8888721466064,"wires":[]},{"id":"c2c13854.41eb58","type":"comment","z":"6957b603.ef1058","name":"3P contains:","info":"Info for 3 phase inverters","x":200.23808833530973,"y":938.9999523162842,"wires":[]},{"id":"a35a1531.45c9b8","type":"comment","z":"6957b603.ef1058","name":"Cumulation contains:","info":"Ac power,\nToday energy\nYear energy\nTotal energy\nDevice Status - (object of status info about inverter)","x":222.46030970982144,"y":774.5555248260498,"wires":[]},{"id":"37d904e.e4e72fc","type":"comment","z":"6957b603.ef1058","name":"url defaults to msg.url","info":"","x":750.2381112234933,"y":896.777759552002,"wires":[]},{"id":"419ec44b.21cccc","type":"comment","z":"6957b603.ef1058","name":"MinMax contains:","info":"min and max ac and dc powers","x":219.1269738333566,"y":1044.5555000305176,"wires":[]},{"id":"99b25f49.5d1a4","type":"inject","z":"6957b603.ef1058","name":"Get MinMaxInverterData","topic":"","payload":"MinMaxInverterData","payloadType":"str","repeat":"","crontab":"","once":false,"x":196.9047600882394,"y":1006.7777290344238,"wires":[["ce3b0319.269c1"]]},{"id":"5efa59d8.051b98","type":"aws-iot-out","z":"6957b603.ef1058","name":"","topic":"$aws/things/testThing/shadow/update","qos":"","broker":"b6a2285c.a71778","x":1091.7142922537669,"y":865.4285984039307,"wires":[]},{"id":"99299f4.a5ccb6","type":"exec","z":"6957b603.ef1058","command":"sudo reboot","addpay":false,"append":"","useSpawn":false,"name":"","x":934.4444176810129,"y":1274.6825637817383,"wires":[[],[],[]]},{"id":"4de13e23.66bcd","type":"inject","z":"6957b603.ef1058","name":"Update","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":201.71426936558316,"y":1270.1428127288818,"wires":[["99299f4.a5ccb6"]]},{"id":"ccc3e6a1.6bd238","type":"comment","z":"6957b603.ef1058","name":"Updator","info":"","x":572.8571461268833,"y":1197.142847606114,"wires":[]},{"id":"485d6867.d38a38","type":"comment","z":"6957b603.ef1058","name":"Check for flow changes","info":"","x":470.63490077427457,"y":1311.9046878814697,"wires":[]},{"id":"75502d9.97558d4","type":"comment","z":"6957b603.ef1058","name":"check for node_module changes","info":"","x":739.2062432425363,"y":1313.4920196533203,"wires":[]},{"id":"4aefb311.12840c","type":"rbe","z":"6957b603.ef1058","name":"","func":"rbe","gap":"","start":"","inout":"out","x":489.9999787466867,"y":1271.587308883667,"wires":[[]]},{"id":"426b9a01.984864","type":"rbe","z":"6957b603.ef1058","name":"","func":"rbe","gap":"","start":"","inout":"out","x":796.8255021231515,"y":1276.5078945159912,"wires":[[]]},{"id":"746b22d2.b24b1c","type":"comment","z":"6957b603.ef1058","name":"http get Weather","info":"","x":607.1428604125977,"y":529.9999904632568,"wires":[]},{"id":"fcaf8495.6458e8","type":"function","z":"6957b603.ef1058","name":"Url Params","func":"msg.weatherUrlParams = {\n    baseUrl : 'http://api.openweathermap.org/data/2.5/weather?q=',\n    place : 'Melbourne,au',\n    appid : '30ecc9276b74b0b9b238b5819987f71b',\n    units : 'metric'\n}\nmsg.url = msg.weatherUrlParams.baseUrl \n        + msg.weatherUrlParams.place \n        + '&appid=' \n        + msg.weatherUrlParams.appid \n        + '&units=' \n        + msg.weatherUrlParams.units\n        ;\n// example http://api.openweathermap.org/data/2.5/weather?q=Melbourne,au&appid=30ecc9276b74b0b9b238b5819987f71b&units=metric\nreturn msg;","outputs":1,"noerr":0,"x":380.28572627476285,"y":580.9999904632568,"wires":[["4d829bf0.5a4174"]]},{"id":"f95de92f.7675d8","type":"http request","z":"6957b603.ef1058","name":"Get latest flow","method":"GET","ret":"txt","url":"","x":341.9047753470285,"y":1272.2221851348877,"wires":[[]]},{"id":"964068e0.d42b68","type":"http request","z":"6957b603.ef1058","name":"Get latest modules","method":"GET","ret":"txt","url":"","x":641.9047448294504,"y":1271.1110744476318,"wires":[[]]},{"id":"c654716c.c2526","type":"comment","z":"6957b603.ef1058","name":"triggers only if data has been changed","info":"","x":1027.4602791922434,"y":1315.5555458068848,"wires":[]},{"id":"b3908d72.34923","type":"comment","z":"6957b603.ef1058","name":"needs to implement version numbers!!","info":"","x":605.7142922537668,"y":1228.571455001831,"wires":[]},{"id":"5c6472ca.2a448c","type":"comment","z":"6957b603.ef1058","name":"SETUP IOTA","info":"","x":694.2856957571847,"y":1468.5714282989502,"wires":[]},{"id":"88be2a60.c497a8","type":"function","z":"6957b603.ef1058","name":"make a hotspot","func":"\nreturn msg;","outputs":1,"noerr":0,"x":614.2856794084822,"y":1557.142837524414,"wires":[[]]},{"id":"13cfb956.cf53a7","type":"comment","z":"6957b603.ef1058","name":"show UI","info":"","x":787.1428495134627,"y":1555.7142314910889,"wires":[]},{"id":"beb2358c.353f28","type":"comment","z":"6957b603.ef1058","name":"FINISH SETUP IOTA","info":"","x":714.2856870378768,"y":1642.8570709228516,"wires":[]},{"id":"ace3c795.1c4188","type":"function","z":"6957b603.ef1058","name":"Post data to cognito","func":"\nreturn msg;","outputs":1,"noerr":0,"x":745.714272090367,"y":1728.571424484253,"wires":[[]]},{"id":"c4818f94.27d43","type":"function","z":"6957b603.ef1058","name":"make a hotspot","func":"\nreturn msg;","outputs":1,"noerr":0,"x":525.7142911638533,"y":1731.4285316467285,"wires":[[]]},{"id":"2c91ff4e.a1665","type":"comment","z":"6957b603.ef1058","name":"On UI setup complete button","info":"","x":311.42855507986894,"y":1731.4286012649536,"wires":[]},{"id":"1fb62314.b1186d","type":"comment","z":"6957b603.ef1058","name":"GPIO configure indicator OFF","info":"","x":516.9999814714705,"y":1684.5714282989502,"wires":[]},{"id":"a8a3398a.46bb68","type":"comment","z":"6957b603.ef1058","name":"GPIO configure indicator ON","info":"","x":501.9999814714705,"y":1513.5714282989502,"wires":[]},{"id":"c9f26f.cf759d9","type":"comment","z":"6957b603.ef1058","name":"GPIO Start button is pressed","info":"","x":341.9999814714705,"y":1557.5714282989502,"wires":[]},{"id":"3f66ba23.bc7ae6","type":"debug","z":"6957b603.ef1058","name":"","active":true,"console":"false","complete":"false","x":1018.0714470999582,"y":824.9999961853027,"wires":[]},{"id":"b0406859.4fbf98","type":"comment","z":"6957b603.ef1058","name":"Setup IOTA Wifi","info":"","x":168.5714318411691,"y":1895.7142181396484,"wires":[]},{"id":"c8c99c12.37366","type":"comment","z":"6957b603.ef1058","name":"Setup Goodwe","info":"","x":623.2856957571847,"y":1886.2856349945068,"wires":[]},{"id":"c54c50ad.3ab3b","type":"ui_text","z":"6957b603.ef1058","tab":"3f339ddd.c0cc62","name":"Wifi details: (leave blank for LAN)","group":"IOTA - Setup Wifi","order":1,"format":"","x":225.2857110159738,"y":1940.1428127288818,"wires":[]},{"id":"e5bcf7cc.c97678","type":"ui_text_input","z":"6957b603.ef1058","tab":"3f339ddd.c0cc62","mode":"text","delay":300,"name":"Wireless Network SSID:","topic":"Network Connection","group":"IOTA - Setup Wifi","order":"2","x":192.5714318411691,"y":1975.9999904632568,"wires":[[]]},{"id":"46f44fc8.5d621","type":"ui_button","z":"6957b603.ef1058","tab":"3f339ddd.c0cc62","name":"Connect","payload":"1","topic":"Wifi Connection:","group":"IOTA - Setup Wifi","order":"4","x":141.5714318411691,"y":2075.999990463257,"wires":[["daa413c8.c769d"]]},{"id":"d0882533.bd4518","type":"ui_text_input","z":"6957b603.ef1058","tab":"3f339ddd.c0cc62","mode":"text","delay":300,"name":"Wireless Network Password:","topic":"","group":"IOTA - Setup Wifi","order":"3","x":199.5714318411691,"y":2016.9999904632568,"wires":[[]]},{"id":"12229318.78c01d","type":"ui_toast","z":"6957b603.ef1058","name":"","x":382.5714318411691,"y":2166.999990463257,"wires":[]},{"id":"daa413c8.c769d","type":"function","z":"6957b603.ef1058","name":"Connect to network","func":"msg.payload = \"Connected Successfully\"\nreturn msg;","outputs":1,"noerr":0,"x":276.5714318411691,"y":2122.999990463257,"wires":[["12229318.78c01d"]]},{"id":"7c853144.47486","type":"ui_numeric","z":"6957b603.ef1058","tab":"3f8a7350.118cac","name":"How many inverters?","topic":"","group":"Inverter info","order":"2","format":"{{value}}","min":0,"max":10,"x":658.5714318411691,"y":1979.9999904632568,"wires":[[]]},{"id":"95440de4.35563","type":"ui_switch","z":"6957b603.ef1058","tab":"3f8a7350.118cac","name":"Auto Scan network for inverters?","topic":"","group":"Inverter info","order":"3","onvalue":"true","offvalue":"false","x":698.5714318411691,"y":2021.9999904632568,"wires":[["fb330b81.a0ddd8"]]},{"id":"fa55c661.e83a38","type":"ui_radio_button","z":"6957b603.ef1058","tab":"3f8a7350.118cac","name":"Inverter type","topic":"","group":"Inverter Type","order":1,"buttons":[{"label":"Goodwe Hybrid","payload":""},{"label":"Fronius v0","payload":""},{"label":"Voltronics Lite","payload":""},{"label":"Other","payload":""}],"x":626.5714318411691,"y":1938.9999904632568,"wires":[[]]},{"id":"fb330b81.a0ddd8","type":"ui_template","z":"6957b603.ef1058","tab":"3f8a7350.118cac","name":"","group":"Inverter info","order":"4","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Manual IP entry:</p>\n    <p ng-style=\"{color: (msg.payload || 0) % 2 === 0 ? 'red' : 'red'}\">\n        {{(msg.payload || 0) % 2 === 0 ? 'Won\\'t be needed' : 'Won\\'t be needed'}}\n    </p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"x":938.5714318411691,"y":2018.9999904632568,"wires":[[]]},{"id":"7a374cf7.08e554","type":"ui_text","z":"6957b603.ef1058","tab":"3f8a7350.118cac","name":"<Inverter settings go here>","group":"Inverter Specific Settings","order":"6","format":"{{msg.payload}}","x":675.5714318411691,"y":2064.999990463257,"wires":[]},{"id":"21af04c7.d5a95c","type":"comment","z":"6957b603.ef1058","name":"Setup Voice Interaction","info":"","x":1252.5714318411692,"y":1877.9999904632568,"wires":[]},{"id":"69e80a81.204a14","type":"ui_text_input","z":"6957b603.ef1058","tab":"e0e0bf32.cb536","mode":"text","delay":300,"name":"Account Username","topic":"","group":"Amazon Account Info","order":1,"x":1254.5714318411692,"y":1922.9999904632568,"wires":[[]]},{"id":"56e7b3c3.ca200c","type":"ui_button_row","z":"6957b603.ef1058","tab":"e0e0bf32.cb536","name":"Amazon icon","topic":"","group":"Amazon Account Info","order":"3","toggle":false,"buttons":[{"payload":"alarm","icon":"amazon","color":"black","on_icon":"alarm_on","on_color":"red"}],"inputs":0,"x":1245.5714318411692,"y":2013.9999904632568,"wires":[[]]},{"id":"ef26187f.66fcc8","type":"ui_button_row","z":"6957b603.ef1058","tab":"e0e0bf32.cb536","name":"Future support for","topic":"","group":"Future Support","order":"6","toggle":false,"buttons":[{"payload":"alarm","icon":"facebook-box","color":"blue","on_icon":"alarm_on","on_color":"red"},{"payload":"","icon":"google-plus-box","color":"red","on_icon":"google-plus-box","on_color":"red"},{"payload":"","icon":"twitter","color":"cyan","on_icon":"twitter","on_color":"blue"},{"payload":"","icon":"amazon","color":"orange","on_icon":"amazon","on_color":"orange"}],"inputs":0,"x":1262.5714318411692,"y":2097.999990463257,"wires":[[]]},{"id":"50976a59.c1d674","type":"ui_text","z":"6957b603.ef1058","tab":"e0e0bf32.cb536","name":"In Future, we will support custom login providers.","group":"Future Support","order":"5","format":"{{msg.payload}}","x":1361.5714318411692,"y":2061.999990463257,"wires":[]},{"id":"cf2e32ed.518","type":"ui_text","z":"6957b603.ef1058","tab":"e0e0bf32.cb536","name":"And possibly our own Ampetus accounts.","group":"Future Support","order":"7","format":"{{msg.payload}}","x":1329.5714318411692,"y":2131.999990463257,"wires":[]},{"id":"608a7c0.b269584","type":"rpi-gpio out","z":"6957b603.ef1058","name":"","pin":"11","set":true,"level":"0","out":"out","x":558.9999329703195,"y":2335.714401245117,"wires":[]},{"id":"d70d58c5.2ac828","type":"aws-iot-in","z":"6957b603.ef1058","name":"","topic":"$aws/things/testThing/shadow/update","broker":"b6a2285c.a71778","x":334.28564998081754,"y":2335.4285640716553,"wires":[[]]},{"id":"1182b48a.97911b","type":"comment","z":"6957b603.ef1058","name":"Lights demo","info":"","x":482.8571679251535,"y":2287.1427822113037,"wires":[]},{"id":"fcc5fd99.00ea3","type":"comment","z":"6957b603.ef1058","name":"Goodwe HTTP","info":"","x":596.9841194152832,"y":31.746030807495117,"wires":[]},{"id":"600d098d.eba7b8","type":"inject","z":"6957b603.ef1058","name":"Basic power stats","topic":"","payload":"GetMyPowerStationById","payloadType":"str","repeat":"","crontab":"","once":false,"x":292.8571472167969,"y":157.1428565979004,"wires":[["2ece829a.542eee"]]},{"id":"3d632e54.700342","type":"http request","z":"6957b603.ef1058","name":"Query Goodwe Server HTTP","method":"GET","ret":"obj","url":"","x":802.1429672241211,"y":167.58730030059814,"wires":[["91b36f69.4f4cc","6faffd57.693f34"]]},{"id":"2ece829a.542eee","type":"function","z":"6957b603.ef1058","name":"Make Url for goodwe","func":"  \n\n\nmsg.goodweUrlParams = {\n    'stationId' : \"e7617407-b15a-4e53-ad63-3b8648f681ef\",\n    'baseUrl' : \"http://www.goodwe-power.com/Mobile/\",\n    'requestType': msg.payload,\n    //'getMyPowerStation' : \"GetMyPowerStationById?stationID=\";\n    //'getPacLineChart' : \"GetPacLineChart?stationId=\";\n};\nmsg.url = msg.goodweUrlParams.baseUrl + msg.goodweUrlParams.requestType + \"?stationID=\" + msg.goodweUrlParams.stationId\n// example 'http://www.goodwe-power.com/Mobile/GetMyPowerStationById?stationID=e7617407-b15a-4e53-ad63-3b8648f681ef'\nreturn msg;","outputs":1,"noerr":0,"x":516.7460250854492,"y":198.06350898742676,"wires":[["3d632e54.700342"]]},{"id":"f6bc390d.ad7978","type":"comment","z":"6957b603.ef1058","name":"url defaults to msg.url","info":"","x":787.0635833740234,"y":218.06350708007812,"wires":[]},{"id":"cabdbabf.23b308","type":"aws-iot-out","z":"6957b603.ef1058","name":"","topic":"$aws/things/testThing/shadow/update","qos":"","broker":"b6a2285c.a71778","x":1351.3967971801758,"y":211.00007438659668,"wires":[]},{"id":"91b36f69.4f4cc","type":"debug","z":"6957b603.ef1058","name":"","active":true,"console":"false","complete":"false","x":1029.182502746582,"y":114.85719776153564,"wires":[]},{"id":"6faffd57.693f34","type":"function","z":"6957b603.ef1058","name":"Format response for IOT","func":"msg.payload = {\n            \"state\":\n            {\n                \"desired\":\n                { 'Goodwe' : msg.payload,\n                }\n            }\n};\nreturn msg;","outputs":1,"noerr":0,"x":1071.4285125732422,"y":159.99999237060547,"wires":[["cabdbabf.23b308","18fc1780.f8a608"]]},{"id":"18fc1780.f8a608","type":"debug","z":"6957b603.ef1058","name":"","active":true,"console":"false","complete":"false","x":1284.2857666015625,"y":105.71428680419922,"wires":[]},{"id":"a907dbfb.f9d408","type":"inject","z":"6957b603.ef1058","name":"Power graph today","topic":"","payload":"GetPacLineChart","payloadType":"str","repeat":"","crontab":"","once":false,"x":298.5714416503906,"y":262.8571472167969,"wires":[["2ece829a.542eee"]]},{"id":"be4966.c42c6698","type":"nmap","z":"6957b603.ef1058","name":"","target":"192.168.0.0/24","scantype":"QuickScan","x":345,"y":384,"wires":[["d3ae6741.7481f8"]]},{"id":"b8d68c64.3e3ba","type":"inject","z":"6957b603.ef1058","name":"","topic":"","payload":"quickscan","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":399,"wires":[["be4966.c42c6698"]]},{"id":"d3ae6741.7481f8","type":"debug","z":"6957b603.ef1058","name":"","active":true,"console":"false","complete":"false","x":527,"y":399,"wires":[]},{"id":"d0d2c6f4.6a10f8","type":"comment","z":"6957b603.ef1058","name":"Auto reboot wifi if no internet","info":"","x":535,"y":1104,"wires":[]},{"id":"e6658ce0.3249f","type":"http in","z":"6957b603.ef1058","name":"","url":"8.8.8.8","method":"get","swaggerDoc":"","x":744,"y":1099,"wires":[[]]},{"id":"ec0b336a.8d103","type":"exec","z":"6957b603.ef1058","command":"sudo ifdown wlan0","addpay":true,"append":"","useSpawn":"","name":"","x":502,"y":1149.5,"wires":[[],["ea0a159f.d750a8"],[]]},{"id":"a0883d36.34feb","type":"delay","z":"6957b603.ef1058","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":854,"y":1143,"wires":[[]]},{"id":"ea0a159f.d750a8","type":"exec","z":"6957b603.ef1058","command":"sudo ifup wlan0","addpay":true,"append":"","useSpawn":"","name":"","x":702,"y":1146,"wires":[[],[],[]]},{"id":"fc7b3ae1.f34498","type":"inject","z":"6957b603.ef1058","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":319,"y":1147,"wires":[["ec0b336a.8d103"]]}]